@page
@model HolaWeb.App.Frontend.Pages.DetailsModel3
@{
}
<h2>@Model.Mascota.Nombre</h2>
<div>
    Id: @Model.Mascota.Id
</div>
<div>
    Nombre: @Model.Mascota.Nombre
</div>
<div>
    Edad: @Model.Mascota.Edad
</div>
<div>
    Raza: @Model.Mascota.Raza
</div>
<a asp-page="./mascota" class="btn-default">Lista de Mascota </a>