@page
@model HolaWeb.App.Frontend.Pages.DetailsModel1
@{
}
<h2>@Model.Propietar.Nombre</h2>
<div>
    Id: @Model.Propietar.Id
</div>
<div>
    Nombres: @Model.Propietar.Nombre
</div>
<div>
    Apellidos: @Model.Propietar.Apellidos
</div>
<div>
    Numero de Telefono: @Model.Propietar.NumeroTelefono
</div>
<div>
    Identificación: @Model.Propietar.Identificacion
</div>
<div>
    Direccion: @Model.Propietar.Direccion
</div>
<a asp-page="./Propi" class="btn-default">Lista de Propietarios </a>