@page
@model HolaWeb.App.Frontend.Pages.PropiModel1
@{
}
<h1>Propietarios</h1>
<form method="get">
    <div class="form-group">

        <p>
            Propietario: <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda" />
            <input type="submit" value="Filtrar" />
        </p>
</form>
<table class="table">
    <thead>
        <tr>
            <td style="text-align: center"><strong>Id</strong></td>
            <td style="text-align: center"><strong>Nombre</strong></td>
            <td style="text-align: center"><strong>Apellidos</strong></td>
            <td style="text-align: center"><strong>Numero de Telefono</strong></td>
            <td style="text-align: center"><strong>Identificación</strong></td>
            <td style="text-align: center"><strong>Dirección</strong></td>
            <td style="text-align: center"><strong>Información</strong></td>
            <td style="text-align: center"><strong>Editar</strong></td>
        </tr>
    </thead>
    @foreach (var propietario in Model.Propietar)
    {
        <tr>
            <td style="text-align: center">@propietario.Id</td>
            <td style="text-align: center">@propietario.Nombre</td>
            <td style="text-align: center">@propietario.Apellidos</td>
            <td style="text-align: center">@propietario.NumeroTelefono</td>
            <td style="text-align: center">@propietario.Identificacion</td>
            <td style="text-align: center">@propietario.Direccion</td>
            <td style="text-align: center">
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-propietarId="@propietario.Id">
                    <i class="fas fa-info-circle fa-lg"></i Detalle Propietario</a>
            </td>
            <td style="text-align: center">
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-propietarioId="@propietario.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    }
</table>
<a asp-page=".\Edit" class="btn btn-primary">Adicionar Propietario</a>
