@page
@model HolaWeb.App.Frontend.Pages.PropiModel
@{
}
<h1>Propietarios</h1>
<table class="table">
    @foreach (var propietario in Model.Propietar)
    {
        <tr>
            <td>@propietario.Id</td>
            <td>@propietario.Nombre</td>
            <td>@propietario.Apellidos</td>
            <td>@propietario.NumeroTelefono</td>
            <td>@propietario.Identificacion</td>
            <td>@propietario.Direccion</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-PropietarId="@propietario.Id">
                    <i class="fas fa-info-circle fa-lg"></i Detalle Propietario</a>
            </td>
        </tr>
    }
</table>
<form action="">
        <label for="nombre">Nombres</label><br>
        <input type="text" id="nombre"><br>
        <label for="Apellidos">Apellidos</label><br>
        <input type="text" id="Apellido"><br>
        <label for="Celular">Celular</label><br>
        <input type="number" id="Celular"><br>
        <label for="Direccion">Direccion</label><br>
        <input type="text" id="Direccion"><br>
        <label for="Identificacion">Identificacion</label><br>
        <input type="number" id="Identificacion"><br><br>
        <input type="submit" value="Enviar">
        <input type="reset" value="Resetear formlario">
        </form>