@page
@model HolaWeb.App.Frontend.Pages.DetailsModel4
@{
}
<h2>@Model.Visita.Id</h2>
<div>
    Id: @Model.Visita.Id
</div>
<div>
    Id Mascota: @Model.Visita.IdMascota
</div>
<div>
    Id Veterinario: @Model.Visita.IdVeterinario
</div>
<div>
    Temperatura: @Model.Visita.Temperatura
</div>
<div>
    Peso: @Model.Visita.peso
</div>
<div>
    Frecuencia Respiratoria: @Model.Visita.FrecuenciaRes
</div>
<div>
    Frecuencia Cardiaca @Model.Visita.FrecuenciaCar
</div>
<div>
    Estado de Animo: @Model.Visita.EstadoAnimo
</div>
<div>
    Fecha: @Model.Visita.Fecha
</div>
<div>
    Recomendaciones: @Model.Visita.Recomendaciones
</div>
<a asp-page="./visita" class="btn-default">Lista de Visita </a>