@page
@model HolaWeb.App.Frontend.Pages.DetailsModel2
@{
}
<h2>@Model.Veterinario.Nombre</h2>
<div>
    Id: @Model.Veterinario.Id
</div>
<div>
    Nombres: @Model.Veterinario.Nombre
</div>
<div>
    Apellidos: @Model.Veterinario.Apellidos
</div>
<div>
    Numero de Telefono: @Model.Veterinario.NumeroTelefono
</div>
<div>
    Tarjeta Profesional: @Model.Veterinario.TarjetaProfesional
</div>
<a asp-page="./veterinario" class="btn-default">Lista de Veterinario </a>