@page
@model HospiEnCasa.App.Fronted.Pages.VeterinarioModel
@{
}
<h1>Veterinarios</h1>
<form method="get">
    <div class="form-group">

        <p>
            Veterinario: <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda" />
            <input type="submit" value="Filtrar" />
        </p>
</form>
<table class="table">
    @foreach (var veterinario in Model.Veterinario)
    {
        <tr>
            <td>@veterinario.Id</td>
            <td>@veterinario.Nombre</td>
            <td>@veterinario.Apellidos</td>
            <td>@veterinario.NumeroTelefono</td>
            <td>@veterinario.TarjetaProfesional</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-VeterinarioId="@veterinario.Id">
                    <i class="fas fa-info-circle fa-lg"></i Detalle veterinario</a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-VeterinarioId="@veterinario.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    }
</table>  
<a asp-page=".\Edit" class="btn btn-primary">Adicionar veterinario</a>